body{
    background: linear-gradient(145deg, #009dff,#f201ff,#5900ff,#7c01ff,#0011ff);
    animation: containerGradientAnimation 10s ease infinite;
    background-size: 200% 200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.texto{
    display: flex;
    justify-content: center;
}

.vd{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

video {
    width: 80vw; /* 80% del ancho de la ventana */
    max-width: 400px; /* Limitar el ancho máximo para pantallas grandes */
    margin: 10px;
    padding: 5px;
    background-color: #000000;
}


.video-observe{
    box-shadow: 0px 0px 15px 1px black;
    border-radius: 20px;
    height: fit-content;
}

@keyframes containerGradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a{
    font: bold;
    font-size: 2em;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 50px 0 50px 0px;
    transform: scale(1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#mensaje{
    width: 100%;
    padding: 30px;
    text-align: justify;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 768px) {
    video {
        width: 90vw; /* Más ancho en pantallas pequeñas */
    }

    #mensaje {
        font-size: 1em; /* Texto más pequeño para pantallas móviles */
        padding: 15px;
    }
}
